:root {
  --primary-color: #19597C;
  --secondary-color: #E63A50;
  --text-bg-primary: #fff;
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

.container {
  max-width: 1464px;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  column-gap: 2rem;
  row-gap: 2rem;
}

.col-100 {
  width: 100%;
  padding: 0 1rem;
}

.col-flex {
  flex: 1;
  padding: 0 1rem;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.navbar-toggle {
  width: 35px;
  height: 35px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.navbar-toggle img {
  color: red;
}

.bg-primary a,
.bg-primary {
  background-color: var(--primary-color);
  color: var(--text-bg-primary);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

a.btn-primary,
.btn-primary {
  background-color: var(--primary-color);
  color: #fff;  
  border-radius: 8px;
  display: inline-flex;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
}

.btn-primary .icon {
  display: inline-block;
  margin-left: 8px;
}

a.btn-secondary,
.btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 8px;
  padding: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 164px;
}

a.btn,
.btn {
  text-decoration: none;
}

.navbar-menu {
  margin: 0 -1rem;
}

.navbar-menu .navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease;  
}

.navbar-menu .navbar-item {
  padding: 0.7rem 0;
}

.navbar-menu .navbar-link {
  text-decoration: none;
}

.navbar-menu .navbar-link.btn-white {
  background-color: #fff;
  color: var(--primary-color);
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

/*** Hero ***/
.hero {
  padding: 45px 0;
}

.hero .hero-title {
  font-family: 'KorolevCompressedW04', sans-serif;
  font-size: 60px;
  line-height: 1;
}

.img-responsive {
  max-width: 100%;
  display: inline-block;
}

.hero figure {
  margin: 0;
}

.figure-caption p {
  background-color: rgba(255,255,255,0.9);
  border-radius: 8px;
  padding: 30px 30px 56px;
  box-shadow: 0px 4px 12px 0px #00000040;
}

.figure-caption .btn-secondary {
  transform: translateY(-36px) translateX(36px);
}

.hero .btn-primary {
  font-size: 16px;
}

@media (min-width: 768px) {
  .row {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar {
    /* display: flex; */
    padding-top: 0;
    padding-bottom: 8px;
    align-items: center;
    height: 90px;
  }

  .navbar .navbar-header {
    /* padding-right: 60px; */
    justify-content: center;
  }

  .navbar-menu {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .navbar-menu::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: var(--primary-color);
  }

  .navbar-menu::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 100%;
    background-color: var(--primary-color);
  }

  .navbar-menu .navbar-links {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: flex-end; */
    padding-right: 1rem;
    align-items: center;
    font-size: 16px;
  }

  .navbar-menu .navbar-item {
    padding: 0 1rem;
    margin: 0 0.5rem;
  }

  /*** Hero ***/
  .hero {
    padding: 97px 0;
  }

  .hero figure {
    margin: 91px 0 0;
  }

  .hero .figure-caption {
    transform: translateY(-100px);
  }

  .hero .col-right {
    flex: 0 0 52%;
  }
}

@media (min-width: 1024px) {
  .navbar {
    display: flex;
  }

  .navbar-menu::before {
    content: '';
    display: none;    
  }  

  .navbar .navbar-header {
    padding-right: 60px;
  }

  .navbar-menu .navbar-links {
    justify-content: flex-end;    
  }

  a.btn-primary,
  .btn-primary {
    font-size: 18px;
    padding: 0 36px;
  }

  .hero .btn-primary .icon {    
    margin-left: 36px;
  }

  .hero .hero-title {
    font-size: 80px;
  }
}

@media (min-width: 1200px) {
  .hero .hero-title {
    font-size: 100px;
  }
}